In [1]:
import pandas as pd

df = pd.read_csv('data_split_3.tsv', delimiter='\t')
df.head()

   index                                            text  label
0      1                                          그러기도하고    0.0
1      2                                           이거썼는데    0.0
2      3                                        수학 다 찍어서    0.0
3      4                                      2024년 3월부터    0.0
4      5  나 이따 가야해서 일단 지금 마크서버 잠시 킬생각임 snoo.feathermc.gg    0.0

In [2]:
df = df.set_index('index')
df.head()

                                                 text  label
index
1                                              그러기도하고    0.0
2                                               이거썼는데    0.0
3                                            수학 다 찍어서    0.0
4                                          2024년 3월부터    0.0
5      나 이따 가야해서 일단 지금 마크서버 잠시 킬생각임 snoo.feathermc.gg    0.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 985457 entries, 1 to 1000000
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    985454 non-null  object
 1   label   985456 non-null  float64
dtypes: float64(1), object(1)
memory usage: 22.6+ MB

In [4]:
df = df[~df.duplicated(subset='text')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 955369 entries, 1 to 1000000
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955368 non-null  object
 1   label   955368 non-null  float64
dtypes: float64(1), object(1)
memory usage: 21.9+ MB

In [5]:
df.head()

                                                 text  label
index
1                                              그러기도하고    0.0
2                                               이거썼는데    0.0
3                                            수학 다 찍어서    0.0
4                                          2024년 3월부터    0.0
5      나 이따 가야해서 일단 지금 마크서버 잠시 킬생각임 snoo.feathermc.gg    0.0

In [6]:
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955369 entries, 0 to 955368
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955368 non-null  object
 1   label   955368 non-null  float64
dtypes: float64(1), object(1)
memory usage: 14.6+ MB

In [7]:
df.head()

                                             text  label
0                                          그러기도하고    0.0
1                                           이거썼는데    0.0
2                                        수학 다 찍어서    0.0
3                                      2024년 3월부터    0.0
4  나 이따 가야해서 일단 지금 마크서버 잠시 킬생각임 snoo.feathermc.gg    0.0

In [8]:
df['text'] = df['text'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]", "", regex=True)
df[:3]

       text  label
0    그러기도하고    0.0
1     이거썼는데    0.0
2  수학 다 찍어서    0.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955369 entries, 0 to 955368
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955368 non-null  object
 1   label   955368 non-null  float64
dtypes: float64(1), object(1)
memory usage: 14.6+ MB

In [10]:
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955369 entries, 0 to 955368
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955368 non-null  object
 1   label   955368 non-null  float64
dtypes: float64(1), object(1)
memory usage: 14.6+ MB

In [11]:
from transformers import BertTokenizer
from konlpy.tag import Okt
from nltk.corpus import stopwords
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [12]:
df['label'].value_counts()

label
0.0    911058
1.0     44310
Name: count, dtype: int64

In [13]:
df = df.dropna(subset=['label'])
df['label'] = df['label'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 955368 entries, 0 to 955368
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955367 non-null  object
 1   label   955368 non-null  int32
dtypes: int32(1), object(1)
memory usage: 18.2+ MB

In [15]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 955367 entries, 0 to 955368
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955367 non-null  object
 1   label   955367 non-null  int32
dtypes: int32(1), object(1)
memory usage: 18.2+ MB

In [16]:
df = df.reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955367 entries, 0 to 955366
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   text    955367 non-null  object
 1   label   955367 non-null  int32
dtypes: int32(1), object(1)
memory usage: 10.9+ MB

In [17]:
from tqdm import tqdm

tqdm.pandas()

stop_words = ['의', '가', '이', '은', '들', '는', '좀', '잘', '걍', '과', '도', '를', '으로', '자', '에', '와', '한', '하다', '되다', '이다', '있다', '없다', '가다', '오다', '보다', '그', '저']
okt = Okt()

def preprocess_text(review, stop_words):
    tokens = okt.morphs(review)  # 형태소 분석으로 토큰화
    filtered_tokens = [word for word in tokens if word not in stop_words]
    return ' '.join(filtered_tokens)  # 공백으로 연결하여 반환

# 전처리 적용
df['processed_text'] = df['text'].progress_apply(lambda x: preprocess_text(x, stop_words))

100%|██████████| 955367/955367 [35:13<00:00, 451.97it/s]

In [18]:
from sentence_transformers import SentenceTransformer

# 4. S-BERT 임베딩 생성
model = SentenceTransformer('paraphrase-multilingual-MiniLM-L12-v2')
df['embedding'] = df['processed_text'].progress_apply(lambda x: model.encode(x).tolist())

WARNING:tensorflow:From C:\Users\user\AppData\Roaming\Python\Python312\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

100%|██████████| 955367/955367 [5:47:41<00:00, 45.80it/s]

In [19]:
from sklearn.model_selection import train_test_split

# 5. 언더샘플링 및 오버샘플링 적용
X = df['embedding'].tolist()  # 임베딩 벡터들
y = df['label'].values        # 레이블

# 데이터셋 분할 (Train/Test Split)
X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [20]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

# 6. 언더샘플링 (다수 클래스 줄이기)
rus = RandomUnderSampler(random_state=42)
X_train_under, y_train_under = rus.fit_resample(X_train, y_train)

# 7. SMOTE 오버샘플링 (소수 클래스 증강)
smote = SMOTE(random_state=42)
X_resampled, y_resampled = smote.fit_resample(X_train_under, y_train_under)

In [21]:
from sklearn.linear_model import LogisticRegression  # 로지스틱 회귀 임포트
from sklearn.metrics import accuracy_score

# 8. 모델 학습 (로지스틱 회귀 사용)
clf = LogisticRegression(random_state=42)  # 로지스틱 회귀 모델 생성
clf.fit(X_resampled, y_resampled)

# 9. 모델 평가
y_pred = clf.predict(X_test)
print(f"테스트 데이터 정확도: {accuracy_score(y_test, y_pred)}")

C:\Users\user\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

테스트 데이터 정확도: 0.8406167244104379

In [22]:
# # 10. 사용자 입력에 대한 필터링 기능
# def filter_user_input(user_input):
#     # 사용자 입력을 전처리
#     processed_input = preprocess_text(user_input, stop_words)
    
#     # S-BERT로 임베딩
#     user_embedding = model.encode(processed_input).tolist()
    
#     # 예측 (모욕적 텍스트인지 여부)
#     predicted_label = clf.predict([user_embedding])[0]
    
#     if predicted_label == 1:
#         return "경고: 모욕적인 텍스트가 감지되었습니다."
#     else:
#         return "정상 텍스트입니다."

In [23]:
# # 11. 사용자 입력 테스트
# while True:
#     user_input = input("사용자 입력 (종료하려면 'exit' 입력): ")
#     if user_input.lower() == 'exit':
#         break
    
#     result = filter_user_input(user_input)
#     print(result)

In [24]:
import joblib

# 1. 로지스틱 회귀 모델 저장
joblib.dump(clf, 'logistic_regression_model.pkl')

# 2. S-BERT 모델 저장 (SentenceTransformer)
model.save('sentence_transformer_model')